.app-wrapper {
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
}

.info {
    display: flex;
    justify-content: space-between;
}

.room-list-wrapper {
    display: flex;
    flex-direction: column;
}

.room-and-chat-wrapper {
    display: flex;
    flex-direction: column;
    align-items: "center";
}

.chat-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.go-back-button {
    background-color: rgb(229, 44, 44);
    margin-top: 20px;
    height: 40px;
    width: 60px;
}